.wrapper {
    width: 100%;
    margin: 40px 0;
    margin-top: 0;

    h1 {
        margin-bottom: 40px;
        color: var(--primary-color);
    }

    .content {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
        background-color: white;
        overflow: hidden;
        border-radius: 15px;
        width: 40%;
        margin-top: 20px;
        padding: 20px;

        input,
        select {
            border-radius: 8px;
            padding: 5px;
            outline: none;
        }

        .form-input {
            display: flex;
            flex-direction: column;

            .input-detail {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: left;
                margin-bottom: 20px;

                label {
                    margin-right: 5px;
                }
                select,
                input {
                    width: 200px;
                    border: 1px solid rgb(0, 0, 0);
                }
            }
        }

        .form-btn {
            display: flex;
            margin-top: 20px;
        }
    }
}
