.content {
    width: 100%;
    background-color: white;

    .content-item {
        padding: 0 20px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid lightgray;
        overflow: hidden;

        p {
            margin: 0;
        }
        .id {
            width: 10%;
            overflow: hidden;
            white-space: nowrap;
        }

        .image {
            width: 10%;

            img {
                width: 60px;
                height: 60px;
                object-fit: cover;
            }
        }

        .name {
            width: 10%;
            display: flex;
            align-items: center;
            .petname {
                font-weight: 600;
            }
        }
        .role {
            width: 10%;
            p {
                background-color: rgb(71, 206, 255);
                color: white;
                display: inline;
                padding: 5px;
                border-radius: 10px;
            }

            .adopted {
                background-color: var(--adopted-color);
            }

            .available {
                background-color: var(--available-color);
            }
        }

        .date {
            width: 10%;
        }
        .action {
            width: 5%;
            text-align: center;
            .view-icon {
                color: rgb(99, 199, 232);
                width: 18px;
                cursor: pointer;
            }

            .delete-icon {
                color: rgb(255, 98, 98);
                width: 18px;
                margin-left: 10px;
            }
        }
    }
}

.image-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    p {
        position: absolute;
        right: 40px;
        top: 30px;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }

    img {
        height: 500px;
        width: auto;
        object-fit: cover;
    }
}
