.adoptStep4_waiting_container_content {
    width: 60%;
    height: 100px;
    background-color: #6a945b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    p {
        text-align: center;
        margin: 0px;
        color: white;
        font-size: 23px;
    }
}
