.about-us {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.about-us .div {
    background-color: #ffffff;
    height: 3433px;
    position: relative;
    width: 100%;
}

.about-us .overlap-group {
    background-position: 50% 50%;
    background-size: cover;
    height: 389px;
    left: 0;
    position: absolute;
    top: 224px;
    width: 1440px;
}

.about-us .header {
    height: 550px;
    width: 100%;
}

.about-us .img {
    height: 290px;
    object-fit: cover;
    position: absolute;
    top: 2969px;
    width: 737px;
}

.about-us .text-wrapper {
    color: #000000;
    font-family: 'Inter-Bold', Helvetica;
    font-size: 130px;
    font-weight: 700;
    height: 116px;
    left: 82px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    bottom: 300px;
}

.about-us .p {
    color: #79a266;
    font-family: 'Inter-SemiBold', Helvetica;
    font-size: 45px;
    font-weight: 600;
    left: 100px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 690px;
    width: 1322px;
    text-align: center;
}

.about-us .image {
    height: 436px;
    left: 924px;
    object-fit: cover;
    position: absolute;
    top: 920px;
    width: 494px;
}

.about-us .img {
    height: 464px;
    left: 26px;
    object-fit: cover;
    position: absolute;
    top: 1500px;
    width: 491px;
}

.about-us .what-we-do-our {
    color: transparent;
    font-family: 'Inter-SemiBold', Helvetica;
    font-size: 29px;
    font-weight: 400;
    left: 554px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1550px;
    width: 782px;
}

.about-us .span {
    color: #000000;
    font-weight: 600;
}

.about-us .text-wrapper-2 {
    color: #79a266;
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    bottom: 300px;
}

.about-us .text-wrapper-3 {
    color: #000000;
    font-size: 24px;
    font-weight: 600;
}

.about-us .text-wrapper-4 {
    color: #000000;
    font-family: 'Inter-Light', Helvetica;
    font-size: 23px;
    font-weight: 300;
}

.about-us .text-wrapper-5 {
    color: #000000;
    font-family: 'Inter-Light', Helvetica;
    font-size: 30px;
    font-weight: 300;
}

.about-us .we-don-t-know-how {
    color: #000000;
    font-family: 'Inter-Regular', Helvetica;
    font-size: 23px;
    font-weight: 400;
    left: 185px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 2282px;
    width: 1166px;
}

.about-us .text-wrapper-6 {
    color: #79a266;
    font-family: 'Inter-Bold', Helvetica;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 2136px;
    width: 1389px;
    left: 70px;
}

.about-us .image-2 {
    height: 290px;
    left: 385px;
    object-fit: cover;
    position: absolute;
    top: 2800px;
    width: 737px;
}

.about-us .register-banner {
    background-color: #79a266;
    height: 204px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 3229px;
    width: 100%;
}

.about-us .text-wrapper-7 {
    color: #ffffff;
    font-family: 'Inter-Bold', Helvetica;
    font-size: 48px;
    font-weight: 700;
    left: 50px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 45px;
}

.about-us .text-wrapper-8 {
    color: #ffffff;
    font-family: 'Inter-Regular', Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 50px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 115px;
    width: 1081px;
}

.about-us .text-wrapper-9 {
    color: #79a266;
    font-family: 'Inter-Medium', Helvetica;
    font-size: 32px;
    font-weight: 500;
    left: 46px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
}

.about-us .div-wrapper {
    all: unset;
    background-color: #ffffff;
    border-radius: 20px;
    box-sizing: border-box;
    height: 58px;
    left: 1192px;
    overflow: hidden;
    position: absolute;
    top: 53px;
    width: 152px;
}

.about-us .text-wrapper-10 {
    color: #79a266;
    font-family: 'Inter-Medium', Helvetica;
    font-size: 32px;
    font-weight: 500;
    left: 12px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 8px;
}

.about-us .who-we-are-and-why {
    color: #000000;
    font-family: 'Inter-Bold', Helvetica;
    font-size: 30px;
    font-weight: 400;
    left: 82px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1021px;
    width: 801px;
}

.about-us .text-wrapper-11 {
    color: #79a266;
    width: 1000px;
    font-weight: 700;
    position: absolute;
    bottom: 150px;
}

.about-us .text-wrapper-12 {
    font-family: 'Inter-Light', Helvetica;
    font-size: 23px;
    font-weight: 300;
}

.about-us .register-button {
    position: absolute;
    bottom: 85px;
    left: 1200px;
    height: 50px;
    font-size: large;
}
