.wrapper {
    display: flex;
    width: 100%;
    margin-top: 100px;
    background-color: var(--background-color-grey);
    padding: 20px 80px;

    .sidebar {
        width: 20%;
        padding: 20px 0;
        padding-right: 20px;

        .account {
            margin-bottom: 20px;

            .username {
                color: var(--primary-color);
                font-size: 18px;
                font-weight: bold;
            }
        }

        .sidebar-item {
            p {
                cursor: pointer;
                &:hover {
                    color: #99b18d;
                }
            }

            .active {
                color: var(--primary-color);
            }
        }
    }

    .content {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px;
        border-radius: 15px;
        overflow: hidden;
    }
}
